
.content__article {
<<<<<<< HEAD
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  // &::before {
  //   content: '';
  //   background-color: $color-blue;
  //   opacity: .2;
  //   z-index: 10;
  //   margin-top: -120px;
  // }

  figure {
    @extend %flex-center;
    position: relative;
    overflow: hidden;

    img, video {
=======
  position: relative;
  margin: 0;
  padding: 80px 5vw 0;
  min-height: 56vw;

  @include mappy-query(tablet) {
    padding-bottom: 130vw;
    min-height: 130vh;
  }

  @include mappy-query(phone) {
    padding-bottom: 160vw;
    min-height: 160vh;
  }

  &::before {
    content: '';
    @include circle(56vw);
    @include abs(6vw);
    background-color: $color-blue;
    opacity: .2;
    z-index: 10;

    @include mappy-query(tablet) {
      @include circle(100vw);
      top: 45vw;
    }

    @include mappy-query(phone) {
      @include circle(220vw);
      top: 80vw;
    }
  }

  figure {
    @include circle(36vw);
    position: absolute;
    overflow: hidden;
    align-self: flex-start;

    @include mappy-query(tablet) { @include circle(50vw); }
    @include mappy-query(phone) { @include circle(90vw); }

    img {
      position: absolute;
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
      width: 100%;
      min-width: 100%;
      min-height: 100%;;
      display: block;
      object-fit: cover;
    }
  }

  &__text {
<<<<<<< HEAD
    max-width: 480px;
    font-size: 1.2em;

    h1 { 
      @extend %h2;
      margin: .5em 0; 
    }
    // p { margin: 0; }
  }


    
  @include mappy-query(desktop) {
    padding: 90px 60px;

    figure {
      @include circle(480px);
      min-width: 480px;
    }
    // &::before { @include circle(720px); }

    &:nth-child(even) {
      // &::before { @include abs(unset, 0, unset, unset); }
      .content__article__text { margin-left: 60px; }
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      // &::before { @include abs(unset, unset, unset, 0); }
      .content__article__text { margin-right: 60px; }
    }
  }

  @include mappy-query(tablet) {
    padding: 72px 48px;
    flex-direction: column;
    // &::before { 
    //   @include circle(640px);
    //   @include abs(unset, 50%, 0, 50%); 
    //   transform: translateX(-50%);
    // }

    figure { 
      @include circle(420px);
      min-width: 420px;
    }

    .content__article__text { 
      margin-top: 60px; 
      width: 100%;
    }
  }

  @include mappy-query(phone) {
    padding: 60px 30px 72px;
    flex-direction: column;
    // &::before { 
    //   @include circle(640px);
    //   @include abs(unset, 50%, 0, 50%); 
    //   transform: translateX(-50%);
    // }

    // &:nth-child(even) figure { @include rel(0, unset, unset, 25%); }
    // &:nth-child(odd) figure { @include rel(0, 25%, unset, unset); }
    figure { 
      @include circle(360px);
      min-width: 360px;
      // @include rel(0, 50%, unset, 50%); 
      // transform: translateX(-50%);
    }
    .content__article__text { 
      margin-top: 60px; 
      width: 100%;
=======
    display: inline-block;
    width: 44vw;
    z-index: 12;
    align-self: flex-end;
    position: absolute;
    top: 14vw;
    padding: 10px 20px 0 6vw; 

    h1 { 
      @extend %h2;
      margin-bottom: .5em; 
    }
    p { margin: 0; }

    @include mappy-query(tablet) { width: 70vw; }

    @include mappy-query(phone) {
      width: 100%;
      padding: 0 30px;
      top: 120vw;

      a {
        @include rel(null, null, null, 50%);
        transform: translateX(-50%);
      }
    }
  }

  &:nth-child(even) {
    &::before { right: 8vw; }
    .content__article__text { right: 15vw }
    figure { 
      left: 6vw; 
      
      img { left: 0; }
    }
    
    @include mappy-query(tablet) {
      &::before { right: -8vw; }
      .content__article__text { 
        top: 62vw; 
        right: 10vw;
      }
    }

    @include mappy-query(phone) {
      &::before { right: -80vw; }
      .content__article__text { right: 0; }
      figure { left: -10vw; }
    }
  }

  &:nth-child(odd) {
    &::before, 
    .content__article__text { 
      align-self: flex-start; 
      left: 12vw;
    }

    &::before { left: 8vw }

    figure { 
      right: 6vw;
      align-self: flex-end;

      img { right: 0; }
    }
    
    @include mappy-query(tablet) {
      &::before { left: -8vw; }
      .content__article__text { 
        left: 5vw; 
        top: 60vw;
      }
    }

    @include mappy-query(phone) {
      &::before { left: -80vw; }
      .content__article__text { left: 0; }
      figure { right: -20vw; }
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
    }
  }
}