.loader {
  @include size;
  @include fxd(0, null, null, 0);
  opacity: 1;
  background-color: white;
  z-index: 100;
  will-change: opacity;
  pointer-events: none;

  img {
    @extend %centralize;
    
    width: 80vw;
  }

  .load--complete & {
    transition: opacity ease-out .2s 1.2s;
    opacity: 0 !important;
  }
}
