<<<<<<< HEAD
$font-title: 'Teko', sans-serif;
$font-text: 'Work Sans', sans-serif;
=======
$font-title: 'Biryani', sans-serif;
$font-text: 'Raleway', sans-serif;
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
