.results {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding: 120px 0px 80px;

  @include mappy-query(portable) {
    padding: 320px 32px 120px;
  }

  &::before {
<<<<<<< HEAD
    // @include bg-circle(calc(50vw - 80px), white);
=======
    @include bg-circle(calc(50vw - 80px), white);
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
    left: 25%;
    z-index: -1;

    @include mappy-query(portable) {
      display: none;
    }
  }

  &::after {
    @include size(50%, 100%);
    @include abs(0, 0);

    content: '';
    display: block;
    background-color: white;
    z-index: 0;

    @include mappy-query(portable) {
     display: none;
    }
  }

  .results-title {
    @extend %flex-center;
    @include abs(50%, 25%);
    transform: translate(50%, -50%);
    z-index: 4;
    flex-direction: column;

    h2 {
      @extend %h1;
      margin-bottom: .5em;

      &::before {
        @extend %centralize;
        content: '!';
        font-size: 7em;
        color: $color-blue;
        opacity: .2;
        line-height: 1;
        margin-top: .1em;
        z-index: 1;
      }

      @include mappy-query(portable) {
        color: white;

        &::before { color: white }
      }
    }

    .button-outline {
      position: relative;
      z-index: 10;
      margin: 0 auto;
      display: block;

      @include mappy-query(portable) {
        color: white;
        border-color: white;
<<<<<<< HEAD

        &:hover {
          background-color: white;
          color: $color-blue;
        }
=======
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
      }
    }

    @include mappy-query(portable) {
      @include size(100%, 280px);
      padding-top: 80px;
      right: unset;
      left: 50%;
      transform: translate(-50%, 0);
      top: 00px;
      background-color: $color-blue;
      text-align: center;
      margin: 0;
    }
  }

  .title {
    @include rel(18px, null, null, 64px);
    z-index: 3;
    margin: 0;
    height: 0;
    overflow: visible;
    color: $color-blue;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1em;

    @include mappy-query(portable) {
      left: 30px;
    }
  }

  .meter {
    background-color: white;
    width: calc(50vw - 80px);
    margin-left: 40px;
    height: 60px !important;
    border-radius: 60px !important;
    padding: 0 !important;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2

    border: none !important;
    display: inline-block;
    padding: 0;

    span {
      background-color: $color-blue !important;
      opacity: .2;
      border-top-left-radius: 60px !important;
      border-bottom-left-radius: 60px !important;
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
<<<<<<< HEAD
      transition: opacity ease-in .1s;
    }
    
    a {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      z-index: 100;
      opacity: 0;
      background-color: $color-blue;
      border-radius: 60px;

      &:hover ~ span { opacity: 0; }
=======
>>>>>>> b25c3fab13219953bab46cdfa0090007470eb4d2
    }

    @include mappy-query(portable) {
      margin-left: 0;
      width: 100%;
    }
  }

  .scores, .description { display: none; }
} 